{% extends 'base.html.twig' %}

{% block body %}
    <main class="home">
        <section class="card card-me">
            <a class="stretched-link" href="{{ path('app_me') }}" title="Me">
                <svg class="icon icon-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" role="img">
                    <use xlink:href="{{ asset('build/images/svg/icons.svg#bands_in_town') }}"></use>
                </svg>
            </a>
        </section>
        <section class="card card-twitter">
            <a class="stretched-link" href="https://twitter.com/ker0x" title="Twitter" target="_blank">
                <svg class="icon icon-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <use xlink:href="{{ asset('build/images/svg/icons.svg#twitter') }}"></use>
                </svg>
            </a>
            <div class="absolute inset-0 bg-black bg-opacity-25 flex justify-center items-center">
                <p class="p-10 text-white border rounded border-white">{{ 'app.home.tweets.empty'|trans }}</p>
            </div>
        </section>
        <section class="card card-spotify">
            <svg class="icon icon-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <use xlink:href="{{ asset('build/images/svg/icons.svg#spotify') }}"></use>
            </svg>
        </section>
        <section class="card card-github">
            <a class="stretched-link" href="{{ path('app_github') }}" title="Github">
                <svg class="icon icon-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <use xlink:href="{{ asset('build/images/svg/icons.svg#github') }}"></use>
                </svg>
            </a>
        </section>
        <section class="card card-linkedin">
            <a class="stretched-link" href="https://www.linkedin.com/in/romain-monteil/" title="Linkedin" target="_blank">
                <svg class="icon icon-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <use xlink:href="{{ asset('build/images/svg/icons.svg#linkedin') }}"></use>
                </svg>
            </a>
        </section>
        <section class="card card-tmdb">
            <svg class="icon icon-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" role="img">
                <use xlink:href="{{ asset('build/images/svg/icons.svg#tmdb') }}"></use>
            </svg>
        </section>
        <section class="card card-instagram">
            <a class="stretched-link" href="https://www.instagram.com/keyr0x/" title="Instagram" target="_blank">
                <svg class="icon icon-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <use xlink:href="{{ asset('build/images/svg/icons.svg#instagram') }}"></use>
                </svg>
            </a>
        </section>
        <section class="card card-about">
            <a class="stretched-link" href="{{ path('app_about') }}" title="About">
                <svg class="icon icon-lg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img">
                    <use xlink:href="{{ asset('build/images/svg/icons.svg#github_sponsor') }}"></use>
                </svg>
            </a>
        </section>
    </main>
{% endblock %}
