{% extends 'base.html.twig' %}

{% import 'components/_brands.html.twig' as brands %}

{% block body %}
    <header class="header bg-dark text-white text-center py-5">
        <div class="container d-flex align-items-center flex-column">
            <img src="{{ app_asset_image('myself.jpg', {
                'w': 300,
                'h': 300,
                'fit': 'crop-center'
            }) }}" alt="">
            <h2>{{ 'app.meta.description'|trans }}</h2>
            <ul class="list-inline social-pro">
                <li class="list-inline-item"><a href="https://github.com/ker0x">{{ brands.github() }}</a></li>
                <li class="list-inline-item"><a href="#">{{ brands.linkedin() }}</a></li>
                <li class="list-inline-item"><a href="#">{{ brands.twitter() }}</a></li>
            </ul>
        </div>
    </header>
    <section class="container-fluid bg-white py-5">
        <div id="open-source" class="row">
            <div class="col-3 d-flex align-items-center">
                <h2>{{ brands.github() }} {{ 'app.open_source.title'|trans }}</h2>
                <p>{{ 'app.open_source.text'|trans }}</p>
            </div>
            <div class="col-8 offset-1">
                <div class="row row-cols-2 g-3">
                    {% for repository in repositories %}
                        <div class="col mb-3">
                            {% include 'elements/_repository.html.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer bg-white text-center py-5">
        <div class="container">
            <small>
                {{ 'app.footer.text'|trans({
                    '{symfony}': '<a href="https://symfony.com">' ~ brands.symfony() ~ '</a>',
                    '{boostrap}': '<a href="https://getbootstrap.com">' ~ brands.bootstrap() ~ '</a>',
                    '{github}': '<a href="https://github.com/ker0x/portfolio">' ~ brands.github() ~ '</a>'
                })|raw }}
            </small>
        </div>
    </footer>
{% endblock %}
