{% extends 'base.html.twig' %}

{% import 'components/_icons.html.twig' as icons %}

{% block body %}
    <div class="content">
        <div class="flex justify-center">
            <a id="github" href="https://github.com/ker0x" title="{{ 'social.github'|trans }}" target="_blank">
                {{ icons.github }}
            </a>
        </div>
        <div class="flex justify-between">
            <a id="linkedin" href="https://www.linkedin.com/in/romain-monteil-a30825b6"
               title="{{ 'social.linkedin'|trans }}" target="_blank">
                {{ icons.linkedin }}
            </a>
            <a id="twitter" href="https://twitter.com/ker0x" title="{{ 'social.twitter'|trans }}" target="_blank">
                {{ icons.twitter}}
            </a>
            <a id="instagram" href="https://www.instagram.com/keyr0x/" title="{{ 'social.instagram'|trans }}"
               target="_blank">
                {{ icons.instagram }}
            </a>
        </div>
        <div class="flex justify-center">
            <a id="facebook" href="https://www.facebook.com/romain.monteil" title="{{ 'social.facebook'|trans }}"
               target="_blank">
                {{ icons.facebook }}
            </a>
        </div>
    </div>
{% endblock %}
