{% set current_route = app.request.attributes.get('_route') %}
{% set current_route_params = app.request.attributes.get('_route_params') %}
{% set current_locale = app.request.locale %}

<!DOCTYPE html>
<html lang="{{ current_locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}{{ 'app.meta.description'|trans }}{% endblock %}">
    <meta name="author" content="Romain Monteil">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:title" content="{{ block('title') }}">
    <meta property="og:description" content="{{ block('meta_description') }}">
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="{{ 'app.title'|trans }}">
    <meta property="og:url" content="{{ block('meta_canonical') }}">
    <meta property="og:locale" content="{{ current_locale }}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('build/images/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <link rel="canonical" href="{% block meta_canonical current_route ? url(current_route, current_route_params) : '' %}"/>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
